body {
    background-color: #f3f3f5 font-family: Arial, sans-serif;

    font-size: 14px;
}

div {
    width: 500px;
    margin: 0 auto;

    border-bottom: 1px solid #c6c4c5;
}

.performance {
    margin-top: 50px;
    padding-bottom: 10px;
}

h1 {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 36px;
}

.photo-1 {
    width: 198px;
    margin-bottom: 10px;
    margin-left: 150px;

    border: 1px solid #8f8f8f;
}

.purpose, .contacts, .feedback {
    padding: 5px 0;

    font-family: "Myriad Pro";
}

h2 {
    font-size: 18px;
}

.tel {
    padding: 5px 35px;
}

.vk {
    display: block;

    width: 70px;
    padding-bottom: 15px;
    padding-left: 35px;
}

.feedback {
    padding-bottom: 280px;

    border-bottom: none;
}
